@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

address {
  font-style: normal;
}

.footer {
  background-color: #c37fb3;
  padding: 1.875rem 0rem;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__button {
  color: #fff;
  font-size: 1.25rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  background-color: #734475;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__button:hover {
    background-color: rgba(115, 68, 117, 0.5);
  }
}
.footer__me {
  color: rgba(255, 255, 255, 0.548);
  font-size: 1rem;
  letter-spacing: 0.0625rem;
}
.footer__me a {
  color: rgb(37, 37, 37);
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__me a:hover {
    color: rgba(37, 37, 37, 0.5);
  }
}

.page-game {
  background-color: #905893;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.125rem 0rem;
  min-height: 100svh;
}
@media (max-width: 26.5625em) {
  .page-game {
    padding: 1.25rem 0rem;
  }
}
.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game:not(:last-child) {
  margin-bottom: 1.875rem;
}
.game__cover {
  color: #522b5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: rgba(255, 255, 255, 0.37);
  padding: 1.875rem 3.125rem;
}
@media (max-width: 23.4375em) {
  .game__cover {
    padding: 1.875rem 1.25rem;
  }
}
.game__range:not(:last-child) {
  margin-bottom: 0.625rem;
}
.game__range, .game__attemps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 27.4375em) {
  .game__range, .game__attemps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.game__range label, .game__attemps label {
  font-size: 1.375rem;
}
.game__range input, .game__attemps input {
  max-width: 6.25rem;
  background-color: transparent;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}
.game__range input:focus, .game__attemps input:focus {
  outline: 0.125rem solid #ddbbd8;
  border-radius: 0.625rem;
}
.game__attemps:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (max-width: 27.4375em) {
  .game__attemps:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.game__attemps label {
  font-size: 1.125rem;
}
.game__attemps input {
  max-width: 6.25rem;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}
.game__show {
  font-size: 3.125rem;
  color: #000;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.363);
  padding: 1.25rem;
}
@media (max-width: 38.75em) {
  .game__show {
    font-size: 2.5rem;
  }
}
.game__show:not(:last-child) {
  margin-bottom: 3.125rem;
}
.game__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  font-size: 2.1875rem;
}
@media (max-width: 38.75em) {
  .game__buttons {
    font-size: 1.875rem;
  }
}
.game__buttons:not(:last-child) {
  margin-bottom: 1.875rem;
}
.game__btn, .game__play-again {
  color: #fff;
  background-color: rgba(144, 88, 147, 0.24);
  padding: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.game__btn:hover, .game__play-again:hover {
  background-color: rgba(144, 88, 147, 0.5);
}
.game__btn {
  width: 4.375rem;
  height: 4.375rem;
  text-align: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 38.75em) {
  .game__btn {
    width: 3.75rem;
    height: 3.75rem;
  }
}
.game__play-again {
  border-radius: 0.625rem;
  font-size: 1.375rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.game__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 18.75rem;
}
.game__image:not(:last-child) {
  margin-bottom: 1.25rem;
}

.rules {
  color: #fff;
}
.rules h3 {
  font-size: 1.875rem;
}
.rules h3:not(:last-child) {
  margin-bottom: 1.25rem;
}
.rules ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}
.rules li {
  font-size: 1.25rem;
  line-height: 1.2;
}

#winButton {
  color: rgb(99, 221, 99);
}

.dice-page {
  background-color: rgb(163, 215, 238);
  padding: 3.125rem 0rem;
  min-height: 100svh;
}
@media (max-width: 26.5625em) {
  .dice-page {
    padding: 1.25rem 0rem;
  }
}
.dice-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

.play-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.play-settings__button {
  color: #fff;
  background-color: #3a3d7a;
  padding: 1.25rem;
  font-size: 1.25rem;
  border-radius: 1.25rem;
}

.dice {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-self: stretch;
  justify-items: center;
  text-align: center;
  gap: 1.875rem;
}
@media (max-width: 28.8125em) {
  .dice {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.dice svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 25rem;
}
@media (max-width: 28.8125em) {
  .dice svg {
    max-width: 11.25rem;
  }
}
.dice__button {
  color: #fff;
  background-color: #d3d55a;
  padding: 1.25rem;
  font-size: 2.5rem;
  border-radius: 1.25rem;
}
@media (max-width: 26.5625em) {
  .dice__button {
    font-size: 2.125rem;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
}

.boring-page {
  padding: 3.125rem 0rem;
  background-color: #ffd6a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100svh;
}
.boring-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.625rem;
}
.boring-page__title {
  font-size: 3.125rem;
  text-align: center;
  font-weight: 800;
  color: #694314;
}

.boring {
  display: grid;
  grid-template-columns: 200px 1fr;
  max-width: 56.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.25rem;
}
.boring__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
.boring__title {
  font-size: 1.625rem;
  position: relative;
  font-weight: 700;
  color: #494e70;
}
.boring__title::after {
  content: "";
  width: 6.25rem;
  height: 6.25rem;
  background: url("../img/curve-arrow.svg") no-repeat center/cover;
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg);
  position: absolute;
  top: 50%;
  left: 80%;
}
.boring__button {
  padding: 0.625rem 1.875rem;
  font-size: 1.875rem;
  background-color: #71a1ef;
  border-radius: 0.9375rem;
  color: #fff;
  -webkit-box-shadow: 2px 3px 1px black;
          box-shadow: 2px 3px 1px black;
}
@media (any-hover: hover) {
  .boring__button:hover {
    background-color: #6b99e3;
  }
}
.boring__button:active {
  -webkit-transform: translate(2px, 3px);
      -ms-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
}
.result-boring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.result-boring__title {
  font-size: 2.5rem;
  font-weight: 600;
}
.result-boring__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}
.result-boring__item {
  font-size: 1.625rem;
}
.result-boring__item span {
  font-weight: 500;
}

#b-type {
  color: #e76224;
}

#b-part {
  color: #3e9409;
}

#b-acc {
  color: #e4426a;
}

.filter-bored__title {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}
.filter-bored__title:not(:last-child) {
  margin-bottom: 3.125rem;
}
.filter-bored__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1.25rem;
}
.filter-bored__participants .selection-boring__title {
  color: #3e9409;
}
.filter-bored__types .selection-boring__title {
  color: #e76224;
}
.filter-bored__accessibility .selection-boring__title {
  color: #e4426a;
}

.selection-boring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4375rem;
}
.selection-boring__title {
  font-size: 1.375rem;
  font-weight: 500;
}
.selection-boring__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page {
  background-color: #734475;
  min-height: 100svh;
  padding: 3.125rem 0rem;
}
.page__content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page__content:not(:last-child) {
  margin-bottom: 5rem;
}
.page__title {
  text-align: center;
  font-size: 4.625rem;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.125rem;
}
.page__title:not(:last-child) {
  margin-bottom: 1.0810810811em;
}
@media (max-width: 48em) {
  .page__title {
    font-size: 3.75rem;
  }
}
@media (max-width: 26.5625em) {
  .page__title {
    font-size: 2.625rem;
  }
}
.page__title .color {
  color: #ffde4c;
  letter-spacing: 0.625rem;
}
.page__text {
  max-width: 56.25rem;
  text-align: center;
  line-height: 1.2;
  font-size: 1.5rem;
}
.page__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}
.page__text:not(:last-child) {
  margin-bottom: 3.125rem;
}
.activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3.125rem;
  color: #fff;
}
.activities__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1.25rem;
}
@media (any-hover: hover) {
  .activities__card:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .activities__card:hover .activities__title {
    color: #ffde4c;
  }
}
.activities__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 12.5rem;
  max-height: 12.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.activities__title {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.375rem;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}