@use "sass:math";

// Reset
@import "_reset.scss";
// Fonts
@import "_fonts.scss";
// Functions
@import "_functions.scss";

// Footer
@import "_footer.scss";

// Pages
// Guessing
@import "_guessing.scss";
@import "_dice.scss";

// Container
[class*="__container"] {
  max-width: toREM(1230);
  margin: 0 auto;
  padding: 0 toREM(15);
}

// -----------------------------------------------------------------

// body
body {
  font-family: "Roboto", sans-serif;
}
// Wrapper
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;

  > main {
    flex-grow: 1;
  }
}

// Main page

.page {
  background-color: #734475;
  min-height: 100svh;

  padding: toREM(100) toREM(0);

  @media (max-width: toEM(768)) {
    padding: toREM(50) toREM(0);
  }

  &__container {
  }

  &__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: toREM(80);
    }
  }

  &__title {
    text-align: center;
    font-size: toREM(74);
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    line-height: 1.5;
    letter-spacing: toREM(2);

    &:not(:last-child) {
      margin-bottom: toEM(80, 74);
    }

    @media (max-width: toEM(768)) {
      font-size: toREM(60);
    }
    @media (max-width: toEM(425)) {
      font-size: toREM(42);
    }

    .color {
      color: #ffde4c;
      letter-spacing: toREM(10);
    }
  }

  &__text {
    max-width: toREM(900);
    text-align: center;
    line-height: 1.2;

    font-size: toREM(24);

    p {
      &:not(:last-child) {
        margin-bottom: toREM(20);
      }
    }

    &:not(:last-child) {
      margin-bottom: toREM(50);
    }
  }

  &__activities {
  }
}
.activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: toREM(50);
  color: #fff;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: toREM(20);

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }

        .activities__title {
          color: #ffde4c;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: toREM(200);
      max-height: toREM(200);

      transition: all 0.3s;
    }
  }

  &__title {
    transition: all 0.3s;
    font-size: toREM(22);
    font-weight: 600;
    flex: 1 1 auto;
  }
}
